.quality-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 10px 0px;
}

.add-quality-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.add-quality-input {
  box-sizing: border-box;
  font-size: 1em;
  height: 25px;
  width: 90%;
}

.add-quality-button {
  border-left: 1px rgba(168, 168, 168, 1);
  box-sizing: border-box;
  height: 25px;
  font-size: 1em;
  padding: 0px;
  text-align: center;
  width: 10%;
}